.header {
  background-image: url(../images/backgrounds/landing.jpg);
  text-align: center;
  padding: 120px;
  border: 0px;

}

.min{
    text-align: center;
    margin-top: 0px;
    padding: 0px;

}

#bf {
  color: white;
  background-image: url(../images/foodtop/breakfast.jpg);
  padding: 95px;
}

#lunch {
  color: white;
  background-image: url(../images/foodtop/lunch.jpg);
  padding: 95px;
}

#dinner {
  color: white;
  background-image: url(../images/foodtop/dinner.jpg);
  padding: 95px;
  padding-right: 100px;
}

#hh {
  margin-bottom: 0px;
  background-color: lightgray;
  text-align: center;
  padding: 42.5px

}

#pt {
  margin-top: 0px;
  background-color: #F15A29;
  text-align: center;
  padding: 42.5px
}

.col-md-6 {
  margin-top: 80px;
}

.ff1 {
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
  margin: 10px;
  margin-right: 0px;
  box-shadow: rgba(83, 42, 86, 0.28) 0px 1px 10px;
    border-radius: 0px;
}

.ff{
  margin-right: 0px;
  padding-right: 0px;
}

.ftext {
  padding-left: 90px;
}

.dd1 {
  padding: 20px;
  margin: 10px;
    margin-left: 0px;
  box-shadow: rgba(83, 42, 86, 0.28) 0px 1px 10px;
    border-radius: 0px;
}

.dd{
  margin-left: 0px;
  padding-left: 0px;
}

.drinks {
  margin: 0px;
}

#d2 {
  margin: 0px;
  padding: 0px;
}

.dtext {
  text-align: right;
  padding-right: 100px;
}

.scroll {
  background-image: url(../images/backgrounds/foodsBg.jpg);
}

.pcol {
  margin: 0px;
  padding: 10px;
  text-align: center;
  background-color: lightgray;
  border: 2px;
  border-color: lightgray;
  border-width: thin;
  border-style: inset;
}

.panel {
  border: 0px;
  border-radius: 0px;
  margin-top: 100px;
  margin-right: 10px;
  margin-bottom: 100px;
  margin-left: 10px
}

.pb1 {
  padding: 0px;
  margin: 0px;
}

.pb2 {
  text-align: center;
}

.piccol {
  margin-left: 0px;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;

}

#chickenburger {
  margin: 0px;
  padding-right: 0px;
}

#beefburger {
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#chickenpizza {
  margin: 0px;
  padding-left: 0px;
}

.happycustomers {
  background-color:;
  padding-top: 25px;
  padding-right: 20px;
  margin-top: 95px;
  margin-right: 2200px;
  margin-bottom: 100px;
  margin-left: 130px;
  box-shadow: rgba(83, 42, 86, 0.28) 1px 1px 15px 0.5px;
}

.hp1 {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.hp2 {
  text-align: center;
  margin: 0px;
  padding-top: 0px;
  border: 0px;
  border-left: 1px;
  border-left-style: solid;
  border-width: thin;
  border-color: lightgray;

}

.newsletter {
  background-image: url(../images/backgrounds/subscribe.jpg);
  text-align: center;
  padding-top: 115px;
  padding-bottom: 120px;
  }

  footer{
    background-color: #F15A29;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    color: white;
  }
